<% provide(:title, @user.name) %>

<div class="container-fluid">
        <!-- Page Heading -->
    <div class="row">
       	<div class="col-lg-12">


<% if current_user.id.to_s == params[:id] %>
	<div class="page-header">
	    <h1>Personal Info  <span><%= link_to 'Edit info', edit_user_path(@user) , :class => "btn btn-success" %></span></h1>
	</div>
	<div>
		<%= gravatar_for @user %>
	  <p>Name: <%= @user.name %></p>
	  <p>UserName: <%= @user.nick %></p>
	  <p>Joined in <%= @user.created_at.to_s %></p>
	</div>
<% end %>


<div class="page-header">
    <h1>Contact Info</h1>
</div>
<div>

	<p>Name: <%= @user.name %></p>
	<p>UserName: <%= @user.nick %></p>
	<p>Phone: <%= @user.info.phone_number if @user.info%> <p>

</div>


		</div>
	</div>
</div>