
<%= form_for(item) do |f| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="row">
      <div class='col-md-5'>
          <div class="form-group">
              <%= f.label :date_lended %>
              <div class='input-group date' id='datetimepicker6'>
                  <%= f.text_field :date_lended ,  :class=> "form-control", :readonly => params[:action] == "edit" %>
                  <span class="input-group-addon">
                      <span class="fa fa-calendar"></span>
                  </span>
              </div>
          </div>
      </div>
      <div class='col-md-5'>
          <div class="form-group">
              <%= f.label :initial_return_date %>
              <div class='input-group date' id='datetimepicker7'>
                  <%= f.text_field :initial_return_date,  :class=> "form-control" %>
                  <span class="input-group-addon">
                      <span class="fa fa-calendar"></span>
                  </span>
              </div>
          </div>
      </div>
  </div>
  <div class="field">
    <%= f.label :Recipient %>
    <% if params[:action] == "edit" %>
      <%= link_to @item.recipient.name, @item.recipient , class: 'form-control',:readonly => true %>
    <% else %>
      Is your friend in GimmeBack? Search by his email!
      <input type="text" id="user-search"></input>
      
      <select id="user-search-results" name="guest_recipient" size="3"> </select>
    <% end %>
  </div>

  <% if params[:action] == "edit" %>
    <div class="row">
          <div class='col-md-5'>
            <span> Got it back? <%= f.check_box :returned , :id => "ck-tem-back", :class => "squaredOne" %></span>
              <div class="form-group">
                  <div class='input-group date returned-date-h' id='datetimepicker8'>
                      <%= f.text_field :actual_return_date,:value => Date.current().strftime("%d-%m-%Y"), "data-provide" => 'datepicker', :class=> "form-control" %>
                      <span class="input-group-addon">
                          <span class="fa fa-calendar"></span>
                      </span>
                  </div>
              </div>
          </div>
      </div>
  <% end %>

  <div class="actions" >
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>

<% end %>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker6').datepicker({language: "<%=I18n.locale%>" });
        $('#datetimepicker7').datepicker({language: "<%=I18n.locale%>" });
        $('#datetimepicker8').datepicker({
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down",
                next: "fa fa-arrow-right",
                previous: "fa fa-arrow-left"
            },keepOpen: true
        });

        // $("#datetimepicker6").on("dp.change", function (e) {
        //     $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
        // });
        // $("#datetimepicker7").on("dp.change", function (e) {
        //     $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
        // });
        //  $("#datetimepicker8").on("dp.change", function (e) {
        //     $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
        // });


    });

</script>
