
<%= form_for(item) do |f| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>


  <div class="field">
    <%= f.label :image %>
    <%= image_tag(item.image_url(:thumb).to_s) %> <br>
  </div>

  <div class="field">
    <%= f.label "Change Image" %>
    <%= f.file_field :image, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="row">
      <div class="col-md-10">
          <div class="form-group">
              <%= f.label :date_lended %>
              <div class='input-group date' id='date_lended'>
                  <input type="text" class="form-control"></input>
                  <span class="input-group-addon">
                      <span class="fa fa-calendar"></span>
                  </span>
              </div>
              <%= f.text_field :date_lended, :hidden => "true" %>
          </div>
      </div>
      <div class='col-md-5'>
          <div class="form-group">
              <%= f.label :initial_return_date %>
              <div class='input-group date' id='initial_return_date'>
                <input type="text" class="form-control"></input>
                  <span class="input-group-addon">
                      <span class="fa fa-calendar"></span>
                  </span>
              </div>
              <%= f.text_field :initial_return_date,  :hidden => "true" %>
          </div>
      </div>
  </div>
  <div class="field">
    <%= f.label :recipient %>
    <% if params[:action] == "edit" %>
      <%= link_to @item.recipient.name, @item.recipient , class: 'form-control',:readonly => true %>
    <% else %>
      <p>Is your friend in GimmeBack? <span> Check here if he is not <%= f.check_box :is_guest , :id => "ck-recipient", :class => "squaredOne" %></span></p> 

      <%= f.text_field :recipient_id, :class=> "form-control user-search" , :placeholder => "Try finding him by his email..."%>    
      <p>Is he/she on of these?</p>          
      <select id="user-search-results" name="item[recipient_email]" size="5"> </select>
    <% end %>
  </div>

  <div class="row guest">
      <div class='col-md-5'>
          <div class="form-group">
              <%= f.label "Still not with us? No problem put your friends name here " %>
              <div class='input-group'>
                  <%= f.text_field :guest_recipient, :class=> "form-control" %>
              </div>
              <%= f.label "Add some contact information too!" %>
              <br/>
              <%= f.label "Phone" %>
              <%= f.text_field :guest_phone,  :class=> 'form-control' %>

              <%= f.label "Address" %>
              <%= f.text_field :guest_address, :class=> 'form-control' %>

              <%= f.label "Contact Email" %>
              <%= f.text_field :guest_email, :class=> 'form-control' %>
          </div>
      </div>
  </div>

  <% if params[:action] == "edit" %>
    <div class="row">
          <div class='col-md-5'>
            <span> Got it back? <%= f.check_box :returned , :id => "ck-tem-back", :class => "squaredOne" %></span>
              <div class="form-group">
                  <div class='input-group date returned-date-h' id='datetimepicker8'>
                      <%= f.text_field :actual_return_date,:value => Date.current().strftime("%d-%m-%Y"), "data-provide" => 'datepicker', :class=> "form-control" %>
                      <span class="input-group-addon">
                          <span class="fa fa-calendar"></span>
                      </span>
                  </div>
              </div>
          </div>
      </div>
  <% end %>

  <div class="actions" >
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>

<% end %>

<script type="text/javascript">
    $(function () {
        $('#date_lended').datepicker({endDate: new Date(), 
                                         language: "<%=I18n.locale%>",
                                         todayBtn: true
                                      });
        $('#date_lended').datepicker('setDate', $("#item_date_lended").val());
        $('#initial_return_date').datepicker('setDate', $("#item_initial_return_date").val());

        $('#initial_return_date').datepicker({language: "<%=I18n.locale%>"});
        $('#datetimepicker8').datepicker({
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down",
                next: "fa fa-arrow-right",
                previous: "fa fa-arrow-left"
            }
        });

        $('#date_lended').datepicker().on("input change", function (e) {
          if($('#date_lended').datepicker('getDate')){ 
            $("#item_date_lended").attr("value",$('#date_lended').datepicker('getDate').toISOString().slice(0,10));
            $("#initial_return_date").datepicker("setStartDate", $("#date_lended").datepicker("getDate"));
            $("#initial_return_date").datepicker( "setDate", $("#date_lended").datepicker("getDate"));
          }
        });
        $('#initial_return_date').datepicker().on("input change", function (e) {
          if( $('#initial_return_date').datepicker('getDate')){ 
            $("#item_initial_return_date").attr("value",$('#initial_return_date').datepicker('getDate').toISOString().slice(0,10));
          }
        });

        $('.edit_item').submit(function(e){ 
          if (!isDateISO($("#item_date_lended").attr("value"))){
            $("#item_date_lended").attr("value",$('#date_lended').datepicker('getDate').toISOString().slice(0,10));  
          }

          if (!isDateISO($("#item_initial_return_date").attr("value"))){
            $("#item_initial_return_date").attr("value",$('#initial_return_date').datepicker('getDate').toISOString().slice(0,10));
          }
        });

    });

 function isDateISO(date){
      date = date.split('-');
      if (date.length != 3 )
        return false

      if (date[0].length != 4)
        return false

      if (date[1].length != 2)
        return false

      m = parseInt(date[1]);
      if (m < 0 || m > 11)
        return false

      d = parseInt(date[2]);
      if (d < 0 || d > 31)
        return false

      return true;
 }

</script>
