<% provide(:title, "Items List") %>
<% provide(:subtitle, "All items") %>

  <div class="row">
    <div class="col-lg-12">
          <div class="add-button-wrapper">
          <%= link_to '<i class="fa fa-plus" aria-hidden="true"></i> Adicionar'.html_safe, new_item_path , :class => "btn btn-lg btn-warning" %>
          </div>
      </div>
  </div>


  <% @items.each do |item| %>     
  <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title-custom"><i class="fa fa-book"></i>  <%= link_to item.name, item %></h3>
            <h3 class="panel-user-name">Com: <i class="fa fa-arrow-right"></i> <%= item.recipient.name %>        <span><%= link_to 'Show', user_display_path(item.recipient) , :class => "btn btn-xs btn-success" %></span></h3> 

        </div>
       
      <div class="panel-body">
        <div class="list-img-wrapper">
          <%= image_tag('no-image', class: 'list-item-img')  %>
        </div>

        <div class="list-info-wrapper">
          <p>
            <strong>O que que é? Como tava?</strong>
            <%= item.description %>.
          </p>

          <p>
            <strong>Quando?</strong>
            <%= l(item.date_lended) %>
          </p>
          <p>
            <strong>E a data pra devolver?</strong>
            <%= l(item.initial_return_date) %>
          </p>

         <div class="progress">
            <div class="progress-bar <%= item.progress_status  %> progress-bar-success" role="progressbar" 
            aria-valuenow="<%=  item.progress  %>." 
            aria-valuemin="0" 
            aria-valuemax="100" 
            style="width:<%= item.progress %>%;">
            <%= item.progress_message %>  
            </div>
         </div>
          <%= link_to 'Edit', edit_item_path(item), :class => "btn btn-sm btn-info" %>
          <%= link_to 'Peguei de volta!', item_return_path(item) , "method" => "post",:class => "btn btn-sm btn-warning" %>
        </div>
      </div>
    </div>    
    <% end %>

