<!DOCTYPE html>
<html>
  <head>
    <title>GimmeBack</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div id="wrapper">
  		<%= render "shared/nav" %>
		  <div id="page-wrapper">
        <%= render "shared/page_header" %>

    		<%= yield %>	
  		</div>
  	</div>

  </body>
</html>
