<!DOCTYPE html>
<html>
  <head>
    <title>GimmeBack <%= "- " + yield(:title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", params[:controller], :media => "all", 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application", params[:controller], 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div id="wrapper">
  		<%= render "shared/nav" %>
		  <div id="page-wrapper">

          <%= render "shared/page_header" %>
          <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %>"><%= message %></div>
          <% end %>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 col-sm-12">
      		      <%= yield %>
              </div>
            </div>
          </div>
          <%= debug(params) if Rails.env.development? %>
  		</div>
  	</div>

  </body>
</html>
